%tr{class: "#{ process.monitored == 1 ? '' : 'danger' }"}
  %td
    = partial(:dots, locals:{object: process})
    = process.name
  %td
    = process.cpu
  %td
    = process.memory
  %td.text-right
    = time_in_words(process.uptime)
